body{
    background: url('component.png');
    background-color:black;
    
    background-repeat: no-repeat;
    
   
}

.wrapper{
   display: flex;
   
   
  
 
   
    
    
}
.app{
    
    top: 140px;
    left: 358px;
    position: absolute;
   
}

.logosection{
    
    right: 120px;
    padding-top: 76px;
    position: absolute;

}

.logos{
    display: flex;
    
    flex-direction: row-reverse;
    align-items: center;
    
 

    
    
  
    
 }
 
 
.arabic{
    font: normal normal 300 25px/39px Bahij TheSansArabic;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-right: 74px;

}

.title{
   text-align: right;
    margin-top: 89px;
    font: normal normal 800 36px/56px Bahij TheSansArabic;
    letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
justify-content: right;
    
}
.download{
    text-align: right;
    margin-top: 27px;
}




.para{
    margin-top: 35px;
    text-align: right;
    font: normal normal 300 24px/38px Bahij TheSansArabic;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
}



.lastpara{
    margin-top: 35px;
 
font: normal normal 600 24px/56px Bahij TheSansArabic;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.secondimage{
    margin-left: 32px;
   
}

.socialmedia{
    margin-top: 59px;
    
    text-align: right;
}

.text2{
    text-align: right;
font: normal normal 600 24px/56px Bahij TheSansArabic;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}