@import url(~normalize.css);
@font-face {
  font-family: myFirstFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-Light.ttf); }
@font-face {
  font-family: mySecondFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-ExtraBold.ttf); }
@font-face {
  font-family: myThirdFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf); }
body {
  background-color: black; }
  body .firstSection {
    background-image: url("../images/component.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; }
    body .firstSection .firstwrapper {
      display: flex;
      justify-content: flex-end; }
      body .firstSection .firstwrapper .app {
        display: flex;
        justify-content: flex-end;
        margin-top: 140px;
        margin-right: 500px; }
        body .firstSection .firstwrapper .app .saladdiv {
          position: absolute;
          top: 438px;
          z-index: 2;
          margin-right: 320px; }
        body .firstSection .firstwrapper .app .homediv {
          z-index: 1; }
      body .firstSection .firstwrapper .logosection {
        margin-right: 120px; }
        body .firstSection .firstwrapper .logosection .logos {
          display: flex;
          flex-direction: row-reverse;
          align-items: center; }
          body .firstSection .firstwrapper .logosection .logos .logor {
            margin-top: 87px; }
          body .firstSection .firstwrapper .logosection .logos .arabic {
            /* end-of-line comment */
            margin-top: 87px;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 300 25px/39px myFirstFont;
            margin-right: 74px; }
        body .firstSection .firstwrapper .logosection .text {
          text-align: right;
          width: 660px; }
          body .firstSection .firstwrapper .logosection .text .title {
            margin-top: 89px;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 800 36px/56px mySecondFont; }
          body .firstSection .firstwrapper .logosection .text .para {
            margin-top: 35px;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 300 24px/38px myFirstFont; }
          body .firstSection .firstwrapper .logosection .text .lastpara {
            margin-top: 22px;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 600 24px/56px myThirdFont; }
        body .firstSection .firstwrapper .logosection .download {
          text-align: right;
          margin-top: 22px; }
          body .firstSection .firstwrapper .logosection .download .secondimage {
            margin-left: 32px; }
        body .firstSection .firstwrapper .logosection .socialmedia {
          margin-top: 79px;
          text-align: right; }
        body .firstSection .firstwrapper .logosection .text2 {
          margin-bottom: 27px;
          text-align: right;
          letter-spacing: 0;
          color: #fff;
          opacity: 1;
          font: normal normal 600 24px/56px myThirdFont; }
  body .secondpart {
    margin-top: 56px;
    margin-bottom: 235px; }
    body .secondpart .container {
      position: relative; }
      body .secondpart .container .line {
        position: absolute;
        top: 0;
        left: 200px;
        margin-top: 417px;
        background-color: #ff8000;
        width: 800px;
        height: 3px;
        display: inline-block; }
      body .secondpart .container .Circles {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 865px;
        height: 865px;
        margin: 0 auto;
        background: #ff4500 0% 0% no-repeat padding-box;
        opacity: 0.1; }
      body .secondpart .container .secondCircle {
        width: 549px;
        height: 549px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffc200 0% 0% no-repeat padding-box; }
      body .secondpart .container .thirdCircle {
        width: 307px;
        height: 307px;
        background: #ffea00 0% 0% no-repeat padding-box; }
      body .secondpart .container .textingRow {
        position: absolute;
        top: 0;
        right: 300px;
        margin-bottom: 20px; }
        body .secondpart .container .textingRow .texting {
          margin-top: 180px; }
          body .secondpart .container .textingRow .texting .textSecondPart1 {
            text-align: center;
            letter-spacing: 0;
            color: #ffc200;
            opacity: 1;
            font: normal normal 800 36px/56px mySecondFont; }
          body .secondpart .container .textingRow .texting .textSecondPart2Div {
            text-align: center; }
            body .secondpart .container .textingRow .texting .textSecondPart2Div .textSecondPart2 {
              width: 560px;
              letter-spacing: 0;
              color: #fff;
              opacity: 1;
              font: normal normal 300 18px/32px myFirstFont;
              margin-bottom: 62px; }
      body .secondpart .container .bordering {
        margin-top: -578px; }
        body .secondpart .container .bordering .col-md-3 {
          text-align: center;
          margin-top: 52px; }
          body .secondpart .container .bordering .col-md-3 .bowNArrow {
            display: flex;
            align-items: center; }
            body .secondpart .container .bordering .col-md-3 .bowNArrow .arrow-left {
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid #ff8000; }
          body .secondpart .container .bordering .col-md-3 .slim {
            background-color: #ff8000;
            width: 160px;
            height: 160px;
            margin: auto;
            text-align: center; }
          body .secondpart .container .bordering .col-md-3 .borderText1 {
            text-align: center;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 600 24px/56px myThirdFont; }
          body .secondpart .container .bordering .col-md-3 .borderText2 {
            text-align: center;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 600 24px/56px myThirdFont; }
          body .secondpart .container .bordering .col-md-3 .borderText3Div1 {
            padding: 5px; }
            body .secondpart .container .bordering .col-md-3 .borderText3Div1 .borderText3 {
              text-align: center;
              width: 256px;
              letter-spacing: 0;
              color: #999;
              opacity: 1;
              font: normal normal 300 18px/32px myFirstFont;
              padding-top: 12px; }
          body .secondpart .container .bordering .col-md-3 .borderText3Div2 {
            padding: 5px; }
            body .secondpart .container .bordering .col-md-3 .borderText3Div2 .borderText3 {
              text-align: center;
              letter-spacing: 0;
              color: #999;
              opacity: 1;
              font: normal normal 300 18px/32px myFirstFont;
              width: 256px;
              padding-top: 12px; }
          body .secondpart .container .bordering .col-md-3 .borderText3Div3 {
            padding: 5px; }
            body .secondpart .container .bordering .col-md-3 .borderText3Div3 .borderText3 {
              width: 256px;
              margin-right: 10px;
              text-align: center;
              letter-spacing: 0;
              color: #999;
              opacity: 1;
              font: normal normal 300 18px/32px myFirstFont;
              padding-top: 12px; }
          body .secondpart .container .bordering .col-md-3 .borderText3Div4 {
            padding: 5px; }
            body .secondpart .container .bordering .col-md-3 .borderText3Div4 .borderText3 {
              text-align: center;
              letter-spacing: 0;
              color: #999;
              opacity: 1;
              font: normal normal 300 18px/32px myFirstFont;
              width: 256px;
              padding-top: 12px; }
          body .secondpart .container .bordering .col-md-3 .imgFat {
            padding-top: 28px; }
          body .secondpart .container .bordering .col-md-3 .imgCal {
            padding-top: 28px; }
          body .secondpart .container .bordering .col-md-3 .imgSlim {
            padding-top: 28px; }
          body .secondpart .container .bordering .col-md-3 .imgRep {
            padding-top: 28px; }
      body .secondpart .container .lastText {
        text-align: center;
        position: absolute;
        right: 420px; }
        body .secondpart .container .lastText .borderText3 {
          letter-spacing: 0;
          color: #fff;
          opacity: 1;
          font: normal normal 300 18px/32px myFirstFont;
          width: 256px;
          margin-top: 12px; }
        body .secondpart .container .lastText .iconsing {
          display: flex;
          flex-direction: row;
          width: 500px;
          position: absolute;
          margin-top: 20px;
          left: -110px; }
          body .secondpart .container .lastText .iconsing .iconzat1 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 208px;
            height: 80px;
            background-color: #ffc200;
            margin-left: 20px; }
            body .secondpart .container .lastText .iconsing .iconzat1 .txtIconzat {
              margin-left: 12px; }
              body .secondpart .container .lastText .iconsing .iconzat1 .txtIconzat .txt1Iconzat1 {
                margin-top: 13px;
                text-align: right;
                letter-spacing: 0;
                color: #000;
                opacity: 1;
                font: normal normal 600 14px/22px myThirdFont; }
              body .secondpart .container .lastText .iconsing .iconzat1 .txtIconzat .txt1Iconzat2 {
                margin-top: -10px;
                margin-bottom: 13px;
                text-align: right;
                width: 100px;
                letter-spacing: 0;
                color: #000;
                opacity: 1;
                font: normal normal 800 23px/36px mySecondFont; }
          body .secondpart .container .lastText .iconsing .iconzat2 {
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 208px;
            height: 80px;
            background-color: #ffc200;
            margin-left: 32px; }
            body .secondpart .container .lastText .iconsing .iconzat2 .txtIconzat {
              margin-left: 20px; }
              body .secondpart .container .lastText .iconsing .iconzat2 .txtIconzat .txt1Iconzat1 {
                margin-top: 13px;
                text-align: right;
                letter-spacing: 0;
                color: #000;
                opacity: 1;
                font: normal normal 600 14px/22px myThirdFont; }
              body .secondpart .container .lastText .iconsing .iconzat2 .txtIconzat .txt1Iconzat2 {
                margin-top: -10px;
                margin-bottom: 13px;
                text-align: right;
                letter-spacing: 0;
                color: #000;
                opacity: 1;
                font: normal normal 800 23px/36px mySecondFont; }
  body .thirdpart .thirdwrapper .thirdrow .thirdapp {
    margin-top: 219px;
    display: flex;
    margin-right: 200px;
    flex-direction: row-reverse; }
    body .thirdpart .thirdwrapper .thirdrow .thirdapp .secondhomediv {
      margin-right: 30px; }
  body .thirdpart .thirdwrapper .thirdrow .textsection {
    margin-right: 278px;
    margin-top: 339px; }
    body .thirdpart .thirdwrapper .thirdrow .textsection .download {
      text-align: right;
      margin-top: 22px; }
      body .thirdpart .thirdwrapper .thirdrow .textsection .download .secondimage {
        margin-left: 32px; }
    body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext {
      text-align: right;
      width: 660px; }
      body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdtitle {
        letter-spacing: 0;
        color: #fff;
        opacity: 1;
        font: normal normal 800 36px/56px mySecondFont; }
      body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara {
        letter-spacing: 0;
        color: #ffc200;
        opacity: 1;
        font: normal normal 600 24px/56px mySecondFont;
        text-align: right;
        margin-top: 32px; }
        body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points {
          text-align: right;
          letter-spacing: 0;
          color: #fff;
          opacity: 1;
          font: normal normal 300 24px/56px myFirstFont;
          margin-top: 16px;
          margin-bottom: 103px; }
          body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points .afterDone {
            margin-right: 17px; }
          body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points .point1 {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-top: 16px; }
          body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points .point2 {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-top: 16px; }
          body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points .point3 {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-top: 16px; }
          body .thirdpart .thirdwrapper .thirdrow .textsection .thirdtext .thirdpara .points .point4 {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-top: 16px; }
  body .fourthpart {
    margin-top: 216px;
    margin-bottom: 20px; }
    body .fourthpart .container .rowUsers .colUsers {
      text-align: center; }
      body .fourthpart .container .rowUsers .colUsers .textUsers .firstTextUsers {
        margin-bottom: 20px;
        letter-spacing: 0;
        color: #ff8000;
        opacity: 1;
        font: normal normal 800 36px/56px mySecondFont; }
      body .fourthpart .container .rowUsers .colUsers .textUsers .secondTextUsers {
        text-align: center;
        letter-spacing: 0;
        color: #fff;
        opacity: 1;
        font: normal normal 600 24px/56px myThirdFont; }
    body .fourthpart .container .rowPictures {
      margin-top: 85px; }
      body .fourthpart .container .rowPictures .usersDisplay {
        display: flex; }
        body .fourthpart .container .rowPictures .usersDisplay .userComments {
          margin-left: 48px; }
          body .fourthpart .container .rowPictures .usersDisplay .userComments .userTitle {
            text-align: left;
            letter-spacing: 0;
            color: #ff8000;
            opacity: 1;
            font: normal normal 800 36px/56px mySecondFont; }
          body .fourthpart .container .rowPictures .usersDisplay .userComments .userLocation {
            text-align: left;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 600 24px/56px myThirdFont; }
          body .fourthpart .container .rowPictures .usersDisplay .userComments .userCommentary {
            text-align: left;
            letter-spacing: 0;
            color: #fff;
            opacity: 1;
            font: normal normal 300 36px/57px myFirstFont;
            width: 657px; }

/*# sourceMappingURL=styles.css.map */
