// Load CSS Reset from NPM
@import "~normalize.css";
$bgColor: black;
$secondbgColor:#ff8000;
$thirdParaColor:#ffc200;
$firstCircColor:#ff4500;
$secondCircColor:$thirdParaColor;
$innerCircColor: #ffea00;
$txtColor:#fff;
$iconsColor:#000;
$opac:1;
$aligntxt:right;
$rpt: no-repeat;
$disp:flex;
$fntS:normal;
$fntV:normal;
$flexDir:row-reverse;
$borderWidth:160px;
$borderHeight:160px;
$firstCircleWidth:865px;
$firstCircleHeight:865px;
$secondCircleWidth:549px;
$secondCircleHeight:549px;
$thirdCircleWidth:307px;
$thirdCircleHeight:307px;
$iconBorderWidth:208px;
$iconBorderHeight:80px;
$imgPadding:28px;
$letSpacing:0;
$borderTxtColor3:#999;
$firstFont:myFirstFont;
$secondFont:mySecondFont;
$thirdFont:myThirdFont;

@font-face {
  font-family: myFirstFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-Light.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-ExtraBold.ttf);
}

@font-face {
  font-family: myThirdFont;
  src: url(Bahij_TheSansArabic/Bahij_TheSansArabic-SemiBold.ttf);
}

@mixin fontProp($val, $col) {
  letter-spacing: $letSpacing;
  color: $col;
  opacity: $opac;
  font: $val;
}

body {
  background-color: $bgColor;

  .firstSection {
    background-image: url("../images/component.jpg");
    background-repeat: $rpt;
    height: 100%;
    width: 100%;

    .firstwrapper {
      display: $disp;
      justify-content: flex-end;

      .app {
        display: $disp;
        justify-content: flex-end;
        margin-top: 140px;
        margin-right: 500px;

        .saladdiv {
          position: absolute;
          top: 438px;
          z-index: 2;
          margin-right: 320px;
        }

        .homediv {
          z-index: 1;
        }
      }

      .logosection {
        margin-right: 120px;

        .logos {
          display: $disp;
          flex-direction: $flexDir;
          align-items: center;

          .logor {
            margin-top: 87px;
          }

          .arabic { /* end-of-line comment */
            margin-top: 87px;

            @include fontProp(normal normal 300 25px/39px $firstFont, $txtColor);

            margin-right: 74px;
          }
        }

        .text {
          text-align: $aligntxt;
          width: 660px;

          .title {
            margin-top: 89px;

            @include fontProp(normal normal 800 36px/56px $secondFont, $txtColor);
          }

          .para {
            margin-top: 35px;

            @include fontProp(normal normal 300 24px/38px $firstFont, $txtColor);
          }

          .lastpara {
            margin-top: 22px;

            @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
          }
        }

        .download {
          text-align: $aligntxt;
          margin-top: 22px;

          .secondimage {
            margin-left: 32px;
          }
        }

        .socialmedia {
          margin-top: 79px;
          text-align: $aligntxt;
        }

        .text2 {
          margin-bottom: 27px;
          text-align: $aligntxt;

          @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
        }
      }
    }
  }

  .secondpart {
    margin-top: 56px;
    margin-bottom: 235px;

    .container {
      position: relative;

      .line {
        position: absolute;
        top: 0;
        left: 200px;
        margin-top: 417px;
        background-color: $secondbgColor;
        width: 800px;
        height: 3px;
        display: inline-block;
      }

      .Circles {
        display: $disp;
        justify-content: center;
        align-items: center;
        width: $firstCircleWidth;
        height: $firstCircleHeight;
        margin: 0 auto;
        background: $firstCircColor 0% 0% no-repeat padding-box;
        opacity: 0.1;
      }

      .secondCircle {
        width: $secondCircleWidth;
        height: $secondCircleHeight;
        display: $disp;
        justify-content: center;
        align-items: center;
        background: $secondCircColor 0% 0% no-repeat padding-box;
      }

      .thirdCircle {
        width: $thirdCircleWidth;
        height: $thirdCircleHeight;
        background: $innerCircColor 0% 0% no-repeat padding-box;
      }

      .textingRow {
        position: absolute;
        top: 0;
        right: 300px;
        margin-bottom: 20px;

        .texting {
          margin-top: 180px;

          .textSecondPart1 {
            text-align: center;

            @include fontProp(normal normal 800 36px/56px $secondFont, $thirdParaColor);
          }

          .textSecondPart2Div {
            text-align: center;

            .textSecondPart2 {
              width: 560px;

              @include fontProp(normal normal 300 18px/32px $firstFont, $txtColor);

              margin-bottom: 62px;
            }
          }
        }
      }

      .bordering {
        margin-top: -578px;

        .col-md-3 {
          text-align: center;
          margin-top: 52px;

          .bowNArrow {
            display: $disp;
            align-items: center;

            .arrow-left {
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid $secondbgColor;
            }
          }

          .slim {
            background-color: $secondbgColor;
            width: $borderWidth;
            height: $borderHeight;
            margin: auto;
            text-align: center;
          }

          .borderText1 {
            text-align: center;

            @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
          }

          .borderText2 {
            text-align: center;

            @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
          }

          .borderText3Div1 {
            padding: 5px;

            .borderText3 {
              text-align: center;
              width: 256px;

              @include fontProp(normal normal 300 18px/32px $firstFont, $borderTxtColor3);

              padding-top: 12px;
            }
          }

          .borderText3Div2 {
            padding: 5px;

            .borderText3 {
              text-align: center;

              @include fontProp(normal normal 300 18px/32px $firstFont, $borderTxtColor3);

              width: 256px;
              padding-top: 12px;
            }
          }

          .borderText3Div3 {
            padding: 5px;

            .borderText3 {
              width: 256px;
              margin-right: 10px;
              text-align: center;

              @include fontProp(normal normal 300 18px/32px $firstFont, $borderTxtColor3);

              padding-top: 12px;
            }
          }

          .borderText3Div4 {
            padding: 5px;

            .borderText3 {
              text-align: center;

              @include fontProp(normal normal 300 18px/32px $firstFont, $borderTxtColor3);

              width: 256px;
              padding-top: 12px;
            }
          }

          .imgFat {
            padding-top: $imgPadding;
          }

          .imgCal {
            padding-top: $imgPadding;
          }

          .imgSlim {
            padding-top: $imgPadding;
          }

          .imgRep {
            padding-top: $imgPadding;
          }
        }
      }

      .lastText {
        text-align: center;
        position: absolute;
        right: 420px;

        .borderText3 {
          @include fontProp(normal normal 300 18px/32px $firstFont, $txtColor);

          width: 256px;
          margin-top: 12px;
        }

        .iconsing {
          display: $disp;
          flex-direction: row;
          width: 500px;
          position: absolute;
          margin-top: 20px;
          left: -110px;

          .iconzat1 {
            display: $disp;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: $iconBorderWidth;
            height: $iconBorderHeight;
            background-color: $thirdParaColor;
            margin-left: 20px;

            .txtIconzat {
              margin-left: 12px;

              .txt1Iconzat1 {
                margin-top: 13px;
                text-align: right;

                @include fontProp(normal normal 600 14px/22px $thirdFont, $iconsColor);
              }

              .txt1Iconzat2 {
                margin-top: -10px;
                margin-bottom: 13px;
                text-align: right;
                width: 100px;

                @include fontProp(normal normal 800 23px/36px $secondFont, $iconsColor);
              }
            }
          }

          .iconzat2 {
            display: $disp;
            align-items: center;
            margin-top: 20px;
            width: $iconBorderWidth;
            height: $iconBorderHeight;
            background-color: $thirdParaColor;
            margin-left: 32px;

            .txtIconzat {
              margin-left: 20px;

              .txt1Iconzat1 {
                margin-top: 13px;
                text-align: right;

                @include fontProp(normal normal 600 14px/22px $thirdFont, $iconsColor);
              }

              .txt1Iconzat2 {
                margin-top: -10px;
                margin-bottom: 13px;
                text-align: right;

                @include fontProp(normal normal 800 23px/36px $secondFont, $iconsColor);
              }
            }
          }
        }
      }
    }
  }

  .thirdpart {
    .thirdwrapper {
      .thirdrow {
        .thirdapp {
          margin-top: 219px;
          display: $disp;
          margin-right: 200px;
          flex-direction: $flexDir;

          .secondhomediv {
            margin-right: 30px;
          }
        }

        .textsection {
          margin-right: 278px;
          margin-top: 339px;

          .download {
            text-align: $aligntxt;
            margin-top: 22px;

            .secondimage {
              margin-left: 32px;
            }
          }

          .thirdtext {
            text-align: $aligntxt;
            width: 660px;

            .thirdtitle {
              @include fontProp(normal normal 800 36px/56px $secondFont, $txtColor);
            }

            .thirdpara {
              @include fontProp(normal normal 600 24px/56px $secondFont,  $thirdParaColor);

              text-align: right;
              margin-top: 32px;

              .points {
                text-align: right;

                @include fontProp(normal normal 300 24px/56px $firstFont, $txtColor);

                margin-top: 16px;
                margin-bottom: 103px;

                .afterDone {
                  margin-right: 17px;
                }

                .point1 {
                  display: $disp;
                  align-items: center;
                  flex-direction: $flexDir;
                  margin-top: 16px;
                }

                .point2 {
                  display: $disp;
                  align-items: center;
                  flex-direction: $flexDir;
                  margin-top: 16px;
                }

                .point3 {
                  display: $disp;
                  align-items: center;
                  flex-direction: $flexDir;
                  margin-top: 16px;
                }

                .point4 {
                  display: $disp;
                  align-items: center;
                  flex-direction: $flexDir;
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  .fourthpart {
    margin-top: 216px;
    margin-bottom: 20px;

    .container {
      .rowUsers {
        .colUsers {
          text-align: center;

          .textUsers {
            .firstTextUsers {
              margin-bottom: 20px;

              @include fontProp(normal normal 800 36px/56px $secondFont, $secondbgColor);
            }

            .secondTextUsers {
              text-align: center;

              @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
            }
          }
        }
      }

      .rowPictures {
        margin-top: 85px;

        .usersDisplay {
          display: $disp;

          .userComments {
            margin-left: 48px;

            .userTitle {
              text-align: left;

              @include fontProp(normal normal 800 36px/56px $secondFont, $secondbgColor);
            }

            .userLocation {
              text-align: left;

              @include fontProp(normal normal 600 24px/56px $thirdFont, $txtColor);
            }

            .userCommentary {
              text-align: left;

              @include fontProp(normal normal 300 36px/57px $firstFont, $txtColor);

              width: 657px;
            }
          }
        }
      }
    }
  }
}
